.square {
  border: 1px solid #000;
  width: 150px;
  height: 150px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.row {
  display: flex;
  gap: 30px;
}
